In [17]:
# Dependencies
from bs4 import BeautifulSoup 
import pandas as pd
from splinter import Browser
import requests
import time

In [2]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
url = 'https://mars.nasa.gov/news/'

In [4]:
response = requests.get(url)

# NASA Mars News

In [5]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [8]:
#create BeautifulSoup object; parse with 'html.parser'
soup = BeautifulSoup(response.text, 'html.parser')

In [9]:
 news = soup.find_all('div', class_ ='content_title')

In [10]:
#extract title of latest atricile 
news_title = soup.find('div', class_ ="content_title").find('a').text
print(news_title)

Mars Helicopter Attached to NASA's Perseverance Rover

In [11]:
#extract paragraph text of latest atricile 
news_p = soup.find('div', 'rollover_description_inner').text
print(news_p)

The team also fueled the rover's sky crane to get ready for this summer's history-making launch.

# JPL Mars Space Images - Featured Image

In [12]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [13]:
url2 = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'

In [14]:
#visit url
browser.visit(url2)

In [18]:
#move through pages on site
time.sleep(5)
browser.click_link_by_partial_text('FULL IMAGE')
time.sleep(5)
browser.click_link_by_partial_text('more info')
time.sleep(5)

#pull html text
response = browser.html

/opt/anaconda3/lib/python3.7/site-packages/splinter/driver/webdriver/__init__.py:528: FutureWarning: browser.find_link_by_partial_text is deprecated. Use browser.links.find_by_partial_text instead.
  FutureWarning,

In [19]:
#create BeautifulSoup object; parse with 'html.parser'
soup = BeautifulSoup(response, 'html.parser')

#print(soup.prettify())

In [20]:
#retrieve featured image
image_link = soup.find('figure', 'lede').a['href']
site_link = 'https://www.jpl.nasa.gov'
featured_image_url = site_link + image_link

In [21]:
#Display url
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA19980_hires.jpg

# Mars Weather

In [22]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [23]:
url3 = 'https://twitter.com/marswxreport?lang=en'

In [24]:
# Retrieve page with the requests module
response = requests.get(url3)

In [25]:
#create BeautifulSoup object; parse with 'html.parser'
soup = BeautifulSoup(response.text, 'html.parser')

# print(soup.prettify())

In [27]:
# The latest Mars weather tweet from the page
results = soup.find_all('div', class_='js-tweet-text-container')
# Look for entries that display weather related words to exclude non weather related tweets
for result in results:
    mars_weather = result.find('p').text
    if 'Sol' and 'pressure' in mars_weather:
        print(mars_weather)
        break
    else:
        pass

InSight sol 485 (2020-04-07) low -93.4ºC (-136.1ºF) high -7.0ºC (19.4ºF)
winds from the WNW at 5.2 m/s (11.5 mph) gusting to 17.4 m/s (38.9 mph)
pressure at 6.50 hPapic.twitter.com/lSCXda8hgu

# Mars Facts

In [28]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [29]:
url4 = 'https://space-facts.com/mars/'

In [30]:
fact_tables = pd.read_html(url4)
fact_tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [31]:
type(fact_tables)

list

In [32]:
#store tables into a dataframe
df = fact_tables[0]
df.columns = ['MARS PROFILE', 'Information']
df.head()

           MARS PROFILE                    Information
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)

In [33]:
#convert the data to a HTML table string
html_table = df.to_html()
print(html_table)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>MARS PROFILE</th>
      <th>Information</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Equatorial Diameter:</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Polar Diameter:</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Moons:</td>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Surface Temperature:</td>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>7</th>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

# Mars Hemispheres

In [34]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [35]:
url5 = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'

In [36]:
#visit url
browser.visit(url5)

In [37]:
#pull text html
response = browser.html

In [38]:

soup = BeautifulSoup(response, 'html.parser')

#print(soup.prettify())

In [39]:
returns = soup.find('div', 'collapsible results')

#retrieve all anchors in each class pulled above
hemispheres = returns.find_all('div', {"class": 'description'})

#create empty list to hold dictionaries
hemisphere_image_urls = []

#loop through all anchors for each hemisphere class
for description in hemispheres:
    a = description.find('a')
    
    #retrieve title and link to specific hemisphere page
    title = a.h3.text
    link = 'https://astrogeology.usgs.gov' + a['href']
    
     #visit above link
    browser.visit(link)
    time.sleep(5)

    #retrieve link to image
    page = browser.html
    results = BeautifulSoup(page, 'html.parser')
    image_link = results.find('div', 'downloads').find('li').a['href']

    #create empty dictionary for title & image
    image_dict = {}
    image_dict['title'] = title
    image_dict['img_url'] = image_link

    #add image_dict to empty list from above
    hemisphere_image_urls.append(image_dict)
    
print(hemisphere_image_urls)

#store results in a dataframe 
test = pd.DataFrame(hemisphere_image_urls, columns= ["title","img_url"])
test

[{'title': 'Cerberus Hemisphere Enhanced', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'}, {'title': 'Schiaparelli Hemisphere Enhanced', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'}, {'title': 'Syrtis Major Hemisphere Enhanced', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'}, {'title': 'Valles Marineris Hemisphere Enhanced', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]

,title,img_url
0,Cerberus Hemisphere Enhanced,http://astropedia.astrogeology.usgs.gov/downlo...
1,Schiaparelli Hemisphere Enhanced,http://astropedia.astrogeology.usgs.gov/downlo...
2,Syrtis Major Hemisphere Enhanced,http://astropedia.astrogeology.usgs.gov/downlo...
3,Valles Marineris Hemisphere Enhanced,http://astropedia.astrogeology.usgs.gov/downlo...